html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  overflow-y: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.mainContainer {
  padding-top: 40px;
}

.peopleSegment {
  $space: 5px;
  .ui.header {
    margin: 0 0 $space 0;
  }

  p {
    margin: 0 0 $space 0;
  }
}

.labelWrapper {
  margin-bottom: 5px;
}
